<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<h1>this is service page</h1>
	<!-- 	addding footer -->

	<!-- <footer id=hosttag th:replace="footer::fo1('this is title','this is subtitle')"> </footer> -->

	<!-- <footer id=hosttag th:replace="footer::fo1('this is title','this is subtitle')"> </footer> -->

	<footer id=hosttag th:replace="footer::fo1(${title},${subtitle})"> </footer>

</body>
</html>


<!-- replace = hosttag -> fragement tag
include = include the contet of the fragement tag
insert = hostta k andar fragement tag -->